html {
    scroll-behavior: smooth;
    color: #f2f2f2
}

#court-logo {
  background: rgb(248, 249, 250);
  height: 16 vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100vh;
  width: 100%;
  position: absolute; 
  z-index: 3;
}

h5, p {
  margin-bottom: 0px;
}

#nav-bar {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
  background: rgba(245, 245, 245, 0.9);
}

.nav-link {
  padding: 0.1rem;
  font-size: 0.7em;
  color: #6c757d;
}

.active .nav-link {
    color: #F27127;
}

.bi {
  font-size: 1.2em;
  color: #6c757d;
}

.active .bi {
    color: #F27127;
}

.modify-item {
  width: 25%;
  text-align: center;
}

.cart-btn {
  color: #F27127;
}

.food-list {
  margin: 42px 12px;
}

.card {
  width: auto; 
  margin: 12px 0; 
  display: flex; 
  flex-direction: row;
}

.img-dir {
  width: 135px; 
  height: 135px;
  display: flex;
  justify-content: center;
}

.card-body {
  padding: 10px;
}

.card-title {
  margin: 0;
}

.card-price {
  padding-bottom: 3em;
}

.unavailable {
  color: #dc3545;
  font-size: 1.2em;
  position: absolute; /*absolute to card*/
  bottom: 1em;
}

a.btn.btn-primary {
  color: rgb(255, 255, 255);
}

.btn-primary {
  background-color: #dc3545; 
  border: none;
}

.modify-btn {
    position: absolute;
    bottom: 10px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

#register-form,
#log-in-form,
#hello-user {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.form-title {
    padding-bottom: 1.25rem;
}

.submit-btn {
    width: 100%;
    background-color: #F28A2E;
    border: 1px solid #F27127;
}

.submit-btn:hover,
.submit-btn:active {
    background-color: #F28A2E;
    border: 1px solid #F27127;
}

.bottom-text {
    color: #6c757d;
    padding-top: 0.5rem;
    font-size: 0.925rem;
}

.change-form-btn {
    border: none;
    background: none;
    color: #F27127;
    font-weight: 500;
}

#logout-btn {
    border: none;
    background: none;
    padding-left: 0;
    padding-top: 0.55rem;
    color: #6c757d;
    font-size: 0.925rem;
}

.warning {
    border: 1px solid #ff4500;
}
